@import url("https://fonts.googleapis.com/css?family=Lato");
/*
 * GLOBAL
 */
.sp-spacer {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  background: transparent;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
}

/*
 * GRID COMPONENT
 */
.sp-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sp-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.sp-grid-container .sp-grid-item {
  padding: 10px;
}

.sp-grid-expand {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.sp-grid-expand .sp-grid-item {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

/*
 * BUTTON
 */
button {
  font-family: "Lato", sans-serif;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
button:active {
  position: relative;
  top: 1px;
}

.sp-btn-danger {
  background-image: linear-gradient(to right, #ff3c38, #fd615e);
}
.sp-btn-danger:hover {
  background-color: rgba(255, 60, 56, 0.9);
}
.sp-btn-danger:focus {
  outline: none;
}

.sp-btn-warning {
  background-image: linear-gradient(to right, #ff8c42, #f7b733);
}
.sp-btn-warning:hover {
  background-color: rgba(255, 140, 66, 0.9);
}
.sp-btn-warning:focus {
  outline: none;
}

.sp-btn-primary {
  background-image: linear-gradient(to right, #14cbde, #5ee7fd);
}
.sp-btn-primary:hover {
  background-color: rgba(20, 203, 222, 0.9);
}
.sp-btn-primary:focus {
  outline: none;
}

.sp-btn-success {
  background-image: linear-gradient(to right, #33b737, #38ef7d);
}
.sp-btn-success:hover {
  background-color: rgba(51, 183, 55, 0.9);
}
.sp-btn-success:focus {
  outline: none;
}

.sp-btn-outline {
  background-color: rgba(0, 0, 0, 0);
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
}
.sp-btn-outline:hover {
  background-color: rgba(140, 140, 140, 0.1);
}
.sp-btn-outline:focus {
  outline: none;
}

.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.2em;
}

.large {
  font-size: 1.5em;
}

/*
 * ALERT
 */
.sp-alert-container {
  padding: 1em 1.5em;
  border-radius: 5px;
  color: #fff;
  width: 100%;
}

.sp-alert-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.sp-alert-content .alert-icon {
  height: 1em;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.2);
}
.sp-alert-content .alert-icon {
  padding: 5px;
}
.sp-alert-content .alert-close {
  font-weight: bold;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  color: #00000052;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sp-alert-content .alert-close:hover {
  color: black;
  transition: all 0.3s ease;
}

.alert-danger {
  background-image: linear-gradient(to right, #ff3c38, #fd615e);
}

.alert-success {
  background-image: linear-gradient(to right, #33b737, #38ef7d);
}

.alert-warning {
  background-image: linear-gradient(to right, #ff8c42, #f7b733);
}

.alert-info {
  background-image: linear-gradient(to right, #14cbde, #5ee7fd);
}

/*
 * BREADCRUMBS
 */
.sp-breadcrumbs-container {
  background-color: #f3f3f3;
  padding: 1em 2em;
}

.sp-breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-breadcrumbs li {
  float: left;
  padding: 3px;
}
.sp-breadcrumbs li a {
  text-decoration: none;
  color: #0091ff !important;
}
.sp-breadcrumbs .active a {
  color: #565656 !important;
}
.sp-breadcrumbs:after {
  display: block;
  content: "";
  clear: both;
}

/* 
 * MODAL
 */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}
.modal-mask .close-area {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.modal-mask .modal-container {
  position: relative;
  top: 20%;
  height: 60%;
  width: 50%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.modal-mask .modal-container .modal-content {
  padding: 1.5em 2em;
}
.modal-mask .modal-container .modal-content .modal-header h3 {
  padding: 0;
  margin: 0;
}
.modal-mask .modal-container .modal-content .modal-body {
  margin: 2em 0;
}
.modal-mask .modal-container .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10000;
  height: 5em;
  width: 100%;
  border-top: 5px dotted #dedede;
}
.modal-mask .modal-container .modal-content .modal-footer div {
  padding: 5px;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*
 *MODAL ANIMATION
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.zoom-enter-active, .zoom-leave-active {
  transition: all 0.5s;
}

.zoom-enter, .zoom-leave-to {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.spin-enter-active, .spin-leave-active {
  transition: all 0.5s;
}

.spin-enter, .spin-leave-to {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.spin-enter .modal-container, .spin-leave-to .modal-container {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*
 * CARD
 */
.sp-card-container {
  font-family: "Lato", sans-serif;
  width: 90%;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}
.sp-card-container .sp-card-content .sp-card-header {
  text-align: left;
}
.sp-card-container .sp-card-content .sp-card-header h3 {
  padding: 1em 0.8em;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 15px;
}
.sp-card-container .sp-card-content .sp-card-image {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.sp-card-container .sp-card-content .sp-card-image img {
  width: 100%;
}
.sp-card-container .sp-card-content .sp-card-body div {
  padding: 15px;
}
.sp-card-container .sp-card-content .sp-card-footer {
  padding: 1em;
  text-align: left;
}

/*
 * CHIPS
 */
.sp-chip {
  display: inline-block;
  padding: 0 17px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  border-radius: 25px;
  background-color: #f1f1f1;
}
.sp-chip img {
  float: left;
  margin: 0 10px 0 -17.5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.sp-chip .close {
  color: #7d7d7d;
  border-radius: 50%;
  position: relative;
  right: -8px;
  width: 25px;
  height: 25px;
  top: 1px;
  padding: 0;
  transition: all 0.3s ease;
}
.sp-chip .close:focus {
  outline: none;
}
.sp-chip .close:active {
  position: relative;
  top: 2px;
}
.sp-chip .close:hover {
  color: #fff;
  background-color: #ff3c38;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sp-chip-danger {
  background-image: linear-gradient(to right, #ff3c38, #fd615e);
  color: #fff;
}

.sp-chip-success {
  background-image: linear-gradient(to right, #33b737, #38ef7d);
  color: #fff;
}

.sp-chip-primary {
  background-image: linear-gradient(to right, #14cbde, #5ee7fd);
  color: #fff;
}

.sp-chip-warning {
  background-image: linear-gradient(to right, #ff8c42, #f7b733);
  color: #fff;
}

/*
 * NAVBAR
 */
.sp-navbar-container {
  font-family: "Lato", sans-serif;
  background: #f7f7f7;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  position: absolute;
  width: 100%;
  top: 0;
}
.sp-navbar-container .sp-navbar-content {
  display: flex;
  align-items: center;
}
.sp-navbar-container .sp-navbar-content .logo-container {
  width: 50px;
}
.sp-navbar-container .sp-navbar-content .sp-navbar-links a {
  text-decoration: none;
  padding: 1.4em 0;
  margin-right: 1.3em;
  color: #3e3e3e;
}
.sp-navbar-container .sp-navbar-content .sp-navbar-links a.router-link-exact-active {
  position: relative;
  background: linear-gradient(to right, #ff3c38, #fd615e);
}
.sp-navbar-container .sp-navbar-content .sp-navbar-links span {
  background: #f7f7f7;
  padding: 1.4em 1em 1.2em 1em;
}
.sp-navbar-container .sp-navbar-content .sp-navbar-links .site-name {
  color: #3e3e3e;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 1em;
}

/* 
 * Grid Components
 */
.sp-row {
  display: flex;
  width: 100%;
}

.sp-col-12 {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 0%;
  width: 100%;
}

.sp-col-6 {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 0%;
  width: 50%;
}

.sp-col-4 {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 0%;
  width: 33.3333%;
}

/*# sourceMappingURL=app.css.map */
