@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
	font-family: 'Bitstream Vera';
	src: url('../fonts/Bitstream/VeraMono.ttf');
}

$primary: #14cbde;
$warning: #ff8c42;
$danger: #ff3c38;
$success: #33b737;
$gradientPrimary: -webkit-linear-gradient(to right, #14cbde , #5ee7fd);
$gradientPrimary: linear-gradient(to right, #14cbde , #5ee7fd);
$gradientSuccess: -webkit-linear-gradient(to right, #33b737 , #38ef7d);
$gradientSuccess: linear-gradient(to right, #33b737 , #38ef7d);
$gradientDanger: -webkit-linear-gradient(to right, #ff3c38 , #fd615e);
$gradientDanger: linear-gradient(to right, #ff3c38 , #fd615e);
$gradientWarning: -webkit-linear-gradient(to right, #ff8c42 , #f7b733);
$gradientWarning: linear-gradient(to right, #ff8c42 , #f7b733);
$boxShadow: 0 4px 20px 0 rgba(0,0,0,.09);

/*
 * GLOBAL
 */

 body {
 	background-color: #f7f7f7; 
 }

.docs-title {
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #848484;
}

.docs-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #848484;
}

.sp-spacer {
	padding: 0;
	margin: 0;
	-webkit-box-flex: 1!important;
	-ms-flex-positive: 1!important;
	flex-grow: 1!important;
	background: transparent;
}

.wrapper {
	width: 96%;
	margin: 0 auto;
}

/*
 * GRID COMPONENT
 */

.sp-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sp-grid-container {
	display: grid;
	grid-template-columns: auto auto auto;

	.sp-grid-item {
		padding: 10px;
	}
}

.sp-grid-expand {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;

	.sp-grid-item {
		padding: 10px;
		flex-grow: 1;
		flex-basis: 0;
	}
}

/*
 * BUTTON
 */

button {
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	padding: 10px;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: $boxShadow;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	&:active {
		position: relative;
		top: 1px;
	}
}

.sp-btn-danger {
	background-image: $gradientDanger;

	&:hover {
		background-color: rgba($danger, .9);
	}
	&:focus {
		outline: none;
	}
}

.sp-btn-warning {
	background-image: $gradientWarning;

	&:hover {
		background-color: rgba($warning, .9);
	}
	&:focus {
		outline: none;
	}
}

.sp-btn-primary {
	background-image: $gradientPrimary;

	&:hover {
		background-color: rgba($primary, .9);
	}
	&:focus {
		outline: none;
	}
}

.sp-btn-success {
	background-image: $gradientSuccess;

	&:hover {
		background-color: rgba($success, .9);
	}
	&:focus {
		outline: none;
	}
}

.sp-btn-outline {
	background-color: rgba(0,0,0,0);
	color: #8c8c8c;
	border: 1px solid #8c8c8c;

	&:hover {
		background-color: rgba(#8c8c8c, .1);
	}
	&:focus {
		outline: none;
	}
}

.small {
	font-size: .8em;
}

.medium {
	font-size: 1.2em;
}

.large {
	font-size: 1.5em
}

/*
 * ALERT
 */

.sp-alert-container {
	padding: 1em 1.5em;
	border-radius: 5px;
	color: #fff;
	width: 100%;
}

.sp-alert-content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display:flex;
	align-items: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	.alert-icon {
		height: 1em;
		font-size: 2em;
		color: rgba(0,0,0,.2)
	}

	.alert-icon{
		padding: 5px;
	}

	.alert-close {
		font-weight: bold;
		text-shadow: $boxShadow;
		color: #00000052;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			color: black;
			transition: all 0.3s ease;
		}
	}
}

.alert-danger {
	background-image: $gradientDanger;
}

.alert-success {
	// background-color: $success;
	background-image: $gradientSuccess;
}

.alert-warning {
	background-image: $gradientWarning;
}

.alert-info {
	background-image: $gradientPrimary;
}

/*
 * BREADCRUMBS
 */

.sp-breadcrumbs-container {
	background-color: #f3f3f3;
	padding: 1em 2em;
}

.sp-breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		float: left;
		padding: 3px;

		a {
			text-decoration: none;
			color: #0091ff !important;
		}
	}

	.active {
		a {
			color: #565656 !important
		}
	}

	// .sp-breadcrumbs-item + .sp-breadcrumbs-item::before {
	// 	display: inline-block;
	// 	padding-right: .5rem;
	// 	content: "/";
	// }

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

/* 
 * MODAL
 */

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease;

	.close-area {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 0;
	}

	.modal-container {
		position: relative;
		top: 20%;
		height: 60%;
		width: 50%;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0px 2px 20px 0 rgba(0,0,0,.1);
		transition: all .3s ease;

		.modal-content {
			padding: 1.5em 2em;

			.modal-header {
				h3 {
					padding: 0;
					margin: 0;
				}
			}

			.modal-body {
				margin: 2em 0;
			}

			.modal-footer {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 10000;
				height: 5em;
				width: 100%;
				border-top: 5px dotted #dedede;

				div {
					padding: 5px;
					text-align: right;
					position: absolute;
					bottom: 10px;
					right: 10px;
				}
			}
		}
	}

}

/*
 *MODAL ANIMATION
 */


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.zoom-enter-active, .zoom-leave-active {
  transition: all .5s;
}
.zoom-enter, .zoom-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.spin-enter-active, .spin-leave-active {
  transition: all .5s;
}
.spin-enter, .spin-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

	.modal-container {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*
 * CARD
 */

.sp-card-container {
	font-family: 'Lato', sans-serif;
	width: 90%;
	height: auto;
	margin: 0 auto;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
	box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);

	.sp-card-content {

		.sp-card-header {
			text-align: left;
			
			h3 {
				padding: 1em .8em;
				box-shadow: rgba(0,0,0,.09) 0px 6px 15px;
			}
		}

		.sp-card-image {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			outline: none;

			img {
				width: 100%;
			}
		}

		.sp-card-body {
			div {
				padding: 15px;
			}
		}

		.sp-card-footer {
			padding: 1em;
			text-align: left;
		}
	}
}

/*
 * CHIPS
 */

.sp-chip {
	display: inline-block;
	padding: 0 17px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	border-radius: 25px;
	background-color: #f1f1f1;

	img {
		float: left;
		margin: 0 10px 0 -17.5px;
		height: 35px;
		width: 35px;
		border-radius: 50%;
	}

	.close {
		color: #7d7d7d;
		border-radius: 50%;
		position: relative;
		right: -8px;
		width: 25px;
		height: 25px;
		top: 1px;
		padding: 0;
		transition: all 0.3s ease;

		&:focus {
			outline: none;
		}

		&:active {
			position: relative;
			top: 2px;
		}

		&:hover {
			color: #fff;
			background-color: $danger;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

		}
	}
}

.sp-chip-danger {
	background-image: $gradientDanger;
	color: #fff;
}

.sp-chip-success {
	background-image: $gradientSuccess;
	color: #fff;
}

.sp-chip-primary {
	background-image: $gradientPrimary;
	color: #fff;
}

.sp-chip-warning {
	background-image: $gradientWarning;
	color: #fff;
}

/*
 * NAVBAR
 */

.sp-navbar-container {
	font-family: 'Lato', sans-serif;
	background: #fff;
	height: 4em;
	-webkit-box-shadow: $boxShadow;
	box-shadow: $boxShadow;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 200;


	.sp-navbar-content {
		display: flex;
		align-items: center;

		.logo-container {
			width: 50px;
		}

		.sp-navbar-links {
			a {
				text-decoration: none;
				padding: 1.4em 0;
				margin-right: 1.3em;
				color: #3e3e3e;
			}

			a.router-link-exact-active {
				
				position: relative;
				background: $gradientDanger;
			}
			span {
					background-color: #fff;
					padding: 1.5em 1em 1.2em 1em;
				}

			.site-name {
				color: #3e3e3e;
				font-weight: bold;
				font-size: 1.1em;
				margin-right: 1em;
			}
		}
	}
}

/* 
 * Sidebar
 */

.sp-sidebar-container {
	height: 100vh;
	width: 200px;
	background-color: #fbfbfb;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	border-right: 1px solid #efefef; 

	.sidebar-content {
		padding-top: 5em;

		.sidebar-header {
			padding: .5em;
		}

		.sidebar-menu {
			text-align: left;

			.menu-link {
				color: #696969;
				text-decoration: none;
				padding: .5em 1em;
				display: inline-block;
				width: 82.3% !important;
			}

			.router-link-exact-active {
				border-right: 3px solid #ff3c38;
			}
		}
	}
}

/* 
 * Grid Components
 */

 .sp-row {
	display: flex;
	width: 100%;
 }

 .sp-col-12 {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 100%;
 }

 .sp-col-11 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 91.66663%;
 }

 .sp-col-10 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 83.3333%;
 }

 .sp-col-9 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 74.99997%;
 }

 .sp-col-8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
 }

 .sp-col-7 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 58.33331%;
 }

 .sp-col-6 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 50%;
 }

 .sp-col-5 {
 	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 41.66665%;
 }
 .sp-col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
 }

 .sp-col-3 {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 25%;
 }

 .sp-col-2 {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 16.6667%;
 }

 .sp-col-1 {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: 0%;
	width: 8.33333%;
 }